html {
  font-family: 'Libre Caslon Text', serif;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

h2 {
  margin: 10px;
  font-size: 1.2em;
  font-weight: bold;
  padding: 5px 0px;
  text-align: center;
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
  padding: 5px 0px;
}

p {
  line-height: 1.15;
}

footer {
  width: 100%;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
}

.skip {
  position: absolute;
  left: -200px;
}

nav li {
  height: 30px;
  margin: 10px;
  border: 2px solid #000000;
  padding-top: 10px;
  text-align: center;
  border-radius: 20px;
}

.active {
  background-color: #FFB800;
  border: 4px solid #C2EABD;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

img {
  background-color: #000000;
  display: block;
  width: 100px;
  padding: 10px;
  margin: 10px auto;
  border: 2px solid #000000;
  border-radius: 10px;
}

img:nth-of-type(2n) {
  background-color: #FFFFFF;
  border-radius: 20px;
}

img:hover {
  width: 85px;
  padding: 15px;
  background-color: #FFB800;
  border: 4px dotted #C2EABD;
  margin: 10px auto;
}

.intro {
  background-image: url("../images/librarybackground.jpeg");
  min-height: 250px;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro-text {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  font-size: 24px;
}

.self-image {
  background-color: #FFFFFF;
  animation-name: zoomin;
  animation-duration: 1500ms;
}

.book-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  gap: 10px 5px;
  margin: 20px;
}

.book {
  flex-basis: 300px;
  border: 5px solid #C2EABD;
  border-radius: 10px;
  padding: 0px 5px;
  text-align: center;
}

.tips-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 15px;
  text-align: center;
}

#reading {
  display: none;
}

.tip-image1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.tip3,
.tip4,
.tip-intro,
.tip2,
.tip1,
.tip-image1,
#kindle {
  grid-column: 1 / span 3;
}

.tip5 {
  grid-column: 2 / span 1;
  text-align: center;
}

.contact {
  margin: 20px;
  background-color: #C2EABD;
  text-align: center;
}

.form-name,
.form-email,
.form-author,
.form-message {
  padding: 3px;
  font-size: 0.8em;
}


.flip-card {
  background-color: transparent;
  margin: auto;
  width: 250px;
  height: 350px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner,
.flip-card:focus-within .flip-card-inner,
.flip-card:active .flip-card-inner,
.flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

.flip-card-front {
  background-color: #C2EABD;
}

.flip-card-front > img {
  width: 80%;
  height: 80%;
  padding: 10px;
  margin: 10px auto;
  border: 0px;
}

.flip-card-back {
  background-color: #C2EABD;
  color: #000000;
  transform: rotateY(180deg);
}

.flip-card-back > p{
  top: 5%;
  padding: 10px;
}

@keyframes zoomin {
  from {
    transform:scale(0.1);
    filter: grayscale(50);
  }
  to {
    transform: scale(1);
  }
}

/* Tablet Size Media Query */
@media (min-width: 768px) {
  nav ul{
    background-color: #FFB800;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
  }

  nav li {
    border: 0px;
    padding: 0px;
    text-align: center;
    border-radius: 0px;
  }

  .active {
    background-color: #FFFFFF;
    text-transform: none;
    font-style: italic;
    padding: 3px 10px;
    border: 0px;
    font-weight: bold;
    font-size: 16px;
  }

  .book-container {
    justify-content: space-evenly;
    margin: 20px;
  }
  
  .book {
    border: 7px solid #C2EABD;
    border-radius: 15px;
    padding: 0px 7px;
  }

  .book > p {
    padding: 5px;
    max-height: 70px;
    overflow: scroll;
    margin: 5px;
  }

  .tips-container {
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 20px;
    align-items: center;
    text-align: left;
  }
  
  .tip-intro {
    grid-column: 1 / span 3;
  }

  #reading {
    display: inline;
  }

  #kindle {
    grid-column: 1 / span 1;
  }
  
  .tip1 {
    grid-column: 2 / span 3;
  }
  
  .tip2 {
    grid-column: 1 / span 2;
  }

  .tip-image1 {
    grid-column: 3 / span 2;
  }

  .tip3,
  .tip4{
    grid-column: 1 / span 4;
    text-align: center;
  }
  
  .tip5,
  #libby {
    grid-column: 2 / span 2;
    text-align: center;
  }
}


@media screen and (min-width: 1024px) {
  nav ul{
    justify-content: flex-end;
    margin-bottom: 10px;
  }

  .book-container {
    align-content: center;
    margin: 20px;
  }
  
  .book {
    flex-basis: 400px;
    border: 2px dashed #C2EABD;
    border-radius: 15px;
    padding: 0px 7px;
  }

  .book > p {
    max-height: 100px;
  }

  .tips-container {
    grid-template-columns: repeat(5, 1fr);
  }

  .tips-container > img,
  .tips-container > div > img {
    width: 250px;
    background-color: #FFFFFF;
    border: 0px solid #000000;
    border-radius: 20px;
  }
  
  .tip-intro, 
  .tip2 {
    grid-column: 1 / span 3;
    margin-left: 10px;
  }

  #reading {
    grid-column: 4 / span 2;
  }

  #kindle {
    grid-column: 1 / span 2;
  }
  
  .tip1,
  .tip-image1 {
    grid-column: 3 / span 3;
  }
  
  .tip2 {
    grid-column: 1 / span 2;
  }

  .tip-image1 {
    grid-column: 3 / span 3;
  }

  .tip3,
  .tip4{
    grid-column: 1 / span 5;
    text-align: center;
  }
  
  .tip5,
  #libby {
    grid-column: 2 / span 3;
    text-align: center;
  }

  #listening,
  #listening2,
  #libby {
    width: 200px;
  }

}

@media (prefers-reduced-motion) {
  .self-image {
    animation: none;
  }

  .flip-card:hover .flip-card-inner,
  .flip-card:focus-within .flip-card-inner,
  .flip-card:active .flip-card-inner,
  .flip-card:focus .flip-card-inner {
    transform: none;
  }

  .intro {
    background-attachment: inherit;
  }
}